body 
header {
    background-color: #31165c;
    color: #fbff04;
    text-align: center;
    padding: 1em;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
    color: #000000;
}

nav {
    display: flex;
    justify-content: space-around;
    background-color: #b2f2f7;
    padding: 0.5em;
}
nav a {
    color: #000000;
    text-decoration: none;
}
section {
    padding: 2em;
}
h2 {
    color: #333;
}
p {
    line-height: 1.6;
}